
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Pacifico|Comfortaa|Clicker+Script|League+Script|Sacramento');


body{
  background: #EECDA3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Comfortaa', cursive;
  font-size: 15px;

}

.section_one{
  /*background-color: lavenderBlush;*/
}
.section_two{
background-color: pink;
}
.section_four{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}
.section_three{
  background: #C9FFBF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#headshot{
  margin-top: 100px;
  width: 100%;
  /*width: 200px;*/
  text-align: right;
  border-radius: 5em 4em 8em 14em / 2em 20em 8em 10em;
    -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  position:relative;
}

#home-info, #funny{
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  line-height: 30px;
}

*{
  margin:0px;
  padding:0px;
}

.circular-sb {
  width: 600px;
  height: 350px;
  border: 5px solid rgb(144, 38, 207);
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: arial;
  position: relative;
  color: rgb(144, 38, 207);
}

.circle3 {
  border: 5px solid rgb(144, 38, 207);
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  left: -10px;
  bottom: 10px;
}

.circle3:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  /*background: #fff;*/
}

.circle4 {
  border: 5px solid rgb(144, 38, 207);
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  left: -60px;
  bottom: 5px;
}

#about-me{
  font-size: 20px;
  line-height: 30px;
}

#funny{
  display:none;
}
.screenshot{
  width: 100%

}

.bujoco-info, .fraga-info, .figgie-info, .tic-info{
  cursor: pointer;
}

.contact-link{
  font-size: 25px;
  line-height: 30px;

}

.contact-info{
  text-align: left;
}
.contact{
  padding: 2em;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(151, 149, 249, 0.7);
  text-align: left;
  color: rgb(144, 38, 207);
  font-family: 'Comfortaa', cursive;

}

h1, h2, h3{
  font-family: 'League Script', cursive;
  font-weight:bolder;
}

.base{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  /*background-color: rgba(48, 47, 92, 0.88);*/
  text-align: right !important;
  color: navy;
  font-size: 40px;
}

.contact-base{
  text-align: right;
  font-family: 'Comfortaa', cursive;
  /*font-size: 20px;*/
}
