
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/*.container {
  display: flex;
   flex-direction: row
}*/
body{
  background: orange;
}

 body, a, .navbar{
   font-family: 'Amatic SC', cursive;
   font-size: 30px;
 }


.main_container {
  display: flex;
  height: 300px;
  /*width: 100%;*/
  margin: 2% auto;
  align-content: flex-end;
  justify-content: center;
}

.home {
  /*padding: 5%;*/
  width: 300px;  /* Or whatever */
  height: 300px; /* Or whatever */
  /*margin: auto;  /* Magic! */*/
  background-color: blue;

}

#headshot{
  width: 100%;
  /*width: 200px;*/
  text-align: right;
}

#about_me{
  padding: 30px;
  width: 35%
}


#projects{
  display: flex;
  /*width: 80%*/
}


.brief, .screenshot{
  /*padding: 30px;*/
  /*width: 60%;*/
  /*margin: auto;*/

}

img{
  border-radius: 5em 4em 8em 14em / 2em 20em 8em 10em;
    -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  position:relative;
};

.screenshot{
  /*width: 50px !important;*/
  text-align: right;
}

#home{

}

#about_long{
  /*display: none;*/
  width: 80%

}

#projects{
  display:block;
}
