
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Inconsolata|Open+Sans');

body{

  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: #fbd2d7;
}

.menu{
  position: absolute;
  z-index: 1;
  right: 0px;
}

#typeit{
  font-family: 'Inconsolata', monospace;
  font-size: 40px;
  line-height: 40px;
  color: #3F3C52;
  margin-left: 5%;
  height: 50%;
}

a{
  color:rgb(53, 48, 107) !important;
  padding: 5px;
}
